# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Data & Dependencies
node_modules/
dist/
dist-ssr/
*.local

# Excel & Automation
*.xlsx
radar files/
automation/
!automation/data/
!data/

# Editor
.vscode/
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
